page-home-evento {
      img{
        object-fit: contain;
        float: left;
        border: transparent thin solid;
        padding: 9px;
        margin: 0px 20px 10px 0;
        max-width: 200px;
       }
.card-conteudo{
    float: right;
}
.card-title{
    font-weight: bolder;
}
.card-body{
    font-size: 15px;
}

.potato{
background-color: orange;
text-transform: uppercase;
font-size: 16px;
font-weight: bolder;
}
.potato2 {
background-color: orange;
left: 30px;
text-transform: uppercase;
font-size: 16px;
font-weight: bolder;
}
}