page-palestrantes {
    page-palestrantes {
        ion-toolbar {
          text-align: center;
          height: 11vh;
        }
      
        .margem-ios {
          padding: 28px 4px 8px;
        }
      
        img {
          max-width: 60%;
          padding: 2px;
        }
      
        ion-badge {
          position: absolute;
          top: 0;
          right: 4px;
        }
      
        .footer {
          height: 8vh;
          background-color: #0f2f4f;
          color: white;
        }
      
        .card-img {
          max-width: 100%;
          height: 27vh;
          padding: 0;
          margin: 0;
        }
}
}